*.a
*.la
*.so
*.o
*.lo
.*.swp
*.log
*.trs
.deps
*.gcda
.libs
ltmain.sh
libtool
m4/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
.ycm_extra_conf.pyc
configure
depcomp
install-sh
missing
stamp-h1
test-driver
tests/check_*[^c]
tests/*_test
profile/profile
gmon.out
*.cmake
CMakeCache.txt
Testing/
CMakeFiles/
bats/kr2014.[hc]
bats/ecai2014.[hc]
bats/kitchen.[hc]
bats/minesweeper.[hc]
examples/Example-*

