*.so
*.o

*.swp
*.swo

*.pyc

cpplint.py

CMakeCache.txt
CMakeFiles
*.cmake
Makefile
compile_commands.json
.ycm_extra_conf.py

Testing
tests/googletest

test-driver
tests/bloom
tests/clause
tests/formula
tests/grounder
tests/intmap
tests/iter
tests/literal
tests/Makefile
tests/setup
tests/solver
tests/syntax
tests/term
examples/minesweeper/mw

callgrind.*

