*.so
*.o

*.swp
*.swo

*.pyc

*.log

callgrind.*

bla*

cpplint.py

CMakeCache.txt
CMakeFiles
CTest*.cmake
cmake_install.cmake
Makefile
compile_commands.json
.ycm_extra_conf.py
DartConfiguration.tcl
target

Testing
tests/googletest

test-driver
tests/bloom
tests/clause
tests/formula
tests/grounder
tests/hash
tests/hashset
tests/intmap
tests/iter
tests/kb
tests/literal
tests/Makefile
tests/setup
tests/solver
tests/syntax
tests/term
examples/minesweeper/minesweeper
examples/minesweeper/minesweeper-js.js*
examples/tui/tui
examples/tui/tui-js.js*
examples/tui/jquery.mousewheel-min.js
examples/tui/jquery.terminal-1.0.10.css
examples/tui/jquery.terminal-1.0.10.min.js
examples/tui/unix_formatting.js
examples/sudoku/sudoku
examples/sudoku/sudoku-js.js*
examples/jquery-*.min.js
examples/*/jquery-*.min.js
examples/demo.*

