[submodule "examples/tui/linenoise"]
	path = examples/tui/linenoise
	url = https://github.com/antirez/linenoise
[submodule "examples/tui/jquery.terminal"]
	path = examples/tui/jquery.terminal
        url = https://github.com/jcubic/jquery.terminal
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
